In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('./eco2mix-national-cons-def.csv', sep=None)

df["Date et Heure"] = pd.to_datetime(df["Date et Heure"])
df = df.set_index("Date et Heure")
df = df.sort_index()

df

C:\Users\donal\AppData\Local\Temp\ipykernel_28400\2861800860.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('./eco2mix-national-cons-def.csv', sep=None)

KeyboardInterrupt:

In [ ]:
import pandas as pd

df = pd.read_csv("./eco2mix-national-cons-def.csv", sep=None, engine='python')

rename_dict = {
    "Périmètre": "perimeter",
    "Nature": "data_type",
    "Date": "date",
    "Heure": "time",
    "Date et Heure": "datetime",
    "Consommation (MW)": "consumption_mw",
    "Prévision J-1 (MW)": "forecast_j1_mw",
    "Prévision J (MW)": "forecast_j_mw",
    "Fioul (MW)": "fioul_mw",
    "Charbon (MW)": "charbon_mw",
    "Gaz (MW)": "gaz_mw",
    "Gaz - TAC (MW)": "gaz_tac_mw",
    "Gaz - Cogénération (MW)": "gaz_cogen_mw",
    "Gaz - CCG (MW)": "gaz_ccg_mw",
    "Gaz - Autres (MW)": "gaz_other_mw",
    "Hydraulique - Fil de l'eau + éclusée (MW)": "hydro_runriver_mw",
    "Hydraulique - Lacs (MW)": "hydro_lakes_mw",
    "Hydraulique - STEP turbinage (MW)": "hydro_step_turb_mw",
    "Bioénergies - Déchets (MW)": "bio_waste_mw",
    "Bioénergies - Biomasse (MW)": "bio_biomass_mw",
    "Bioénergies - Biogaz (MW)": "bio_biogas_mw"
}

In [ ]:
df

,﻿Périmètre,Nature,Date,Heure,Date et Heure,Consommation (MW),Prévision J-1 (MW),Prévision J (MW),Fioul (MW),Charbon (MW),...,Gaz - TAC (MW),Gaz - Cogénération (MW),Gaz - CCG (MW),Gaz - Autres (MW),Hydraulique - Fil de l'eau + éclusée (MW),Hydraulique - Lacs (MW),Hydraulique - STEP turbinage (MW),Bioénergies - Déchets (MW),Bioénergies - Biomasse (MW),Bioénergies - Biogaz (MW)
0,France,Données définitives,2022-01-01,02:30,2022-01-01T02:30:00+01:00,51252.0,47200,50200,99.0,13.0,...,86.0,999,109.0,1500.0,5787.0,1604.0,396.0,569.0,354.0,334.0
1,France,Données définitives,2022-01-01,05:00,2022-01-01T05:00:00+01:00,45792.0,42800,45100,99.0,13.0,...,89.0,997,109.0,1504.0,5645.0,713.0,9.0,562.0,361.0,331.0
2,France,Données définitives,2022-01-01,06:30,2022-01-01T06:30:00+01:00,46561.0,43400,45700,99.0,13.0,...,98.0,994,108.0,1503.0,5724.0,798.0,10.0,552.0,350.0,332.0
3,France,Données définitives,2022-01-01,07:45,2022-01-01T07:45:00+01:00,NaN,43650,46750,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,France,Données définitives,2022-01-01,08:30,2022-01-01T08:30:00+01:00,47919.0,43600,47400,99.0,12.0,...,101.0,993,110.0,1509.0,5609.0,802.0,10.0,551.0,357.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455899,France,Données consolidées,2024-08-11,12:30,2024-08-11T12:30:00+02:00,44481.0,43700,43100,74.0,20.0,...,1.0,242,383.0,27.0,2804.0,461.0,4.0,525.0,366.0,325.0
455900,France,Données consolidées,2024-08-11,14:30,2024-08-11T14:30:00+02:00,42849.0,42400,41100,74.0,20.0,...,1.0,241,398.0,26.0,2760.0,475.0,4.0,522.0,352.0,312.0
455901,France,Données consolidées,2024-08-11,15:15,2024-08-11T15:15:00+02:00,NaN,41450,40400,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455902,France,Données consolidées,2024-08-11,18:15,2024-08-11T18:15:00+02:00,NaN,41900,41100,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455903,France,Données consolidées,2024-08-11,21:00,2024-08-11T21:00:00+02:00,42968.0,43300,42900,72.0,20.0,...,1.0,242,323.0,30.0,3915.0,1773.0,1012.0,519.0,348.0,315.0

In [ ]:
df = df.rename(columns=rename_dict)
df

,﻿Périmètre,data_type,date,time,datetime,consumption_mw,forecast_j1_mw,forecast_j_mw,fioul_mw,charbon_mw,...,gaz_tac_mw,gaz_cogen_mw,gaz_ccg_mw,gaz_other_mw,hydro_runriver_mw,hydro_lakes_mw,hydro_step_turb_mw,bio_waste_mw,bio_biomass_mw,bio_biogas_mw
0,France,Données définitives,2022-01-01,02:30,2022-01-01T02:30:00+01:00,51252.0,47200,50200,99.0,13.0,...,86.0,999,109.0,1500.0,5787.0,1604.0,396.0,569.0,354.0,334.0
1,France,Données définitives,2022-01-01,05:00,2022-01-01T05:00:00+01:00,45792.0,42800,45100,99.0,13.0,...,89.0,997,109.0,1504.0,5645.0,713.0,9.0,562.0,361.0,331.0
2,France,Données définitives,2022-01-01,06:30,2022-01-01T06:30:00+01:00,46561.0,43400,45700,99.0,13.0,...,98.0,994,108.0,1503.0,5724.0,798.0,10.0,552.0,350.0,332.0
3,France,Données définitives,2022-01-01,07:45,2022-01-01T07:45:00+01:00,NaN,43650,46750,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,France,Données définitives,2022-01-01,08:30,2022-01-01T08:30:00+01:00,47919.0,43600,47400,99.0,12.0,...,101.0,993,110.0,1509.0,5609.0,802.0,10.0,551.0,357.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455899,France,Données consolidées,2024-08-11,12:30,2024-08-11T12:30:00+02:00,44481.0,43700,43100,74.0,20.0,...,1.0,242,383.0,27.0,2804.0,461.0,4.0,525.0,366.0,325.0
455900,France,Données consolidées,2024-08-11,14:30,2024-08-11T14:30:00+02:00,42849.0,42400,41100,74.0,20.0,...,1.0,241,398.0,26.0,2760.0,475.0,4.0,522.0,352.0,312.0
455901,France,Données consolidées,2024-08-11,15:15,2024-08-11T15:15:00+02:00,NaN,41450,40400,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455902,France,Données consolidées,2024-08-11,18:15,2024-08-11T18:15:00+02:00,NaN,41900,41100,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455903,France,Données consolidées,2024-08-11,21:00,2024-08-11T21:00:00+02:00,42968.0,43300,42900,72.0,20.0,...,1.0,242,323.0,30.0,3915.0,1773.0,1012.0,519.0,348.0,315.0

In [ ]:
#datetime to index
df["datetime"] = pd.to_datetime(df["datetime"])
df = df.set_index("datetime")
df = df.sort_index()
df

C:\Users\donal\AppData\Local\Temp\ipykernel_28400\3798442857.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df["datetime"] = pd.to_datetime(df["datetime"])

,﻿Périmètre,data_type,date,time,consumption_mw,forecast_j1_mw,forecast_j_mw,fioul_mw,charbon_mw,gaz_mw,...,gaz_tac_mw,gaz_cogen_mw,gaz_ccg_mw,gaz_other_mw,hydro_runriver_mw,hydro_lakes_mw,hydro_step_turb_mw,bio_waste_mw,bio_biomass_mw,bio_biogas_mw
datetime,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00+01:00,France,Données définitives,2012-01-01,00:00,58315.0,58200,58200,492.0,25.0,3816.0,...,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:15:00+01:00,France,Données définitives,2012-01-01,00:15,NaN,57700,57550,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:30:00+01:00,France,Données définitives,2012-01-01,00:30,58315.0,57200,56900,492.0,25.0,3816.0,...,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:45:00+01:00,France,Données définitives,2012-01-01,00:45,NaN,56200,56000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 01:00:00+01:00,France,Données définitives,2012-01-01,01:00,56231.0,55200,55100,492.0,25.0,3834.0,...,NaN,ND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-31 22:45:00+01:00,France,Données consolidées,2024-12-31,22:45,NaN,62950,63100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31 23:00:00+01:00,France,Données consolidées,2024-12-31,23:00,65321.0,64200,64300,90.0,17.0,2133.0,...,101.0,659,623.0,749.0,4542.0,762.0,155.0,549.0,369.0,339.0
2024-12-31 23:15:00+01:00,France,Données consolidées,2024-12-31,23:15,NaN,64500,64550,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31 23:30:00+01:00,France,Données consolidées,2024-12-31,23:30,64934.0,64800,64800,91.0,16.0,2122.0,...,101.0,659,613.0,748.0,4615.0,521.0,230.0,556.0,373.0,340.0
2024-12-31 23:45:00+01:00,France,Données consolidées,2024-12-31,23:45,NaN,64400,64500,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv("eco2mix_clean_student.csv", index=False)

À partir de ce point, c’est à vous de préparer entièrement la série temporelle
à partir du fichier déjà normalisé.

Objectifs d'aujourdhui :

1. Nettoyer les valeurs manquantes et remplacer `"ND"` par `NaN`.
2. Convertir la colonne `datetime` en véritable index temporel.
3. Extraire la variable cible : `consumption_mw`.
4. Visualiser la série brute.
5. La *resampler* en données journalières (moyenne par jour).
6. Diviser la série en train/test (les 30 derniers jours en test).
7. Construire trois modèles de prévision simples :
   - modèle naïf  
   - modèle saisonnier naïf (déplacement de 7 jours)  
   - moyenne mobile (fenêtre 7 jours)
8. Évaluer chaque modèle (MAE, RMSE).
9. Comparer les performances des trois approches.